.menu-margin-left{
	margin-left: 40px;
}

.contener-menu{
	justify-content: center;
	margin-bottom: 40px;
}

.menu
{
	border-radius: 5px;
	background-color: grey;
	width:25%;
	max-width:300px;
	height: 400px;
	box-shadow: 2px 2px 10px grey;
	text-align: center;
}

#menu1 .menu-align-center{
	margin-top: 120px;
}

.menu h2{
	font-family: "Segoe";
}

#menu2 h2{
	font-family: "charrisil";
}


.menu-align-center{
	margin-top: 150px;
	transform: scale(1);
    transition-property: transform, opacity;
    transition-duration: 400ms;
    opacity: 1;
}

.menu-align-center:hover {
        transform: scale(1.15);
        opacity: 0.5;
    }

#menu1
{
 	background-color:#FCDFDB;
 	color:#3C1218;	
}

#menu1 h3{
	font-family:"devonshire";
	background: -webkit-linear-gradient(10deg, #3C1118, #41171D);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 10px;
}

#menu1 .note-img{
	height:45px;
}

#menu2
{
	background-color:#FFF5FE;
 	color:#E3B589;
}

#menu2 h3{
	font-family: "croissant";
	background: -webkit-linear-gradient(10deg, #E5AA70, #AA7FF7);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
}

#menu3
{
	background-color:#F9F9F9;
 	color:#0887FB;
}

#menu3 h3{
	font-family:"dancing-script";
	background: -webkit-linear-gradient(10deg, #0431DF, #97C9F9);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#menu4
{
	background-color:#FDFFFD;
 	color:#72BF56;
}

#menu4 h3{
	font-family:"kaushan";
	background: -webkit-linear-gradient(10deg, #56A847, #D2FEA8);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mentions-legales{

	background-color: #FCDFDB;
	color:#000000;
	width:auto;
	margin:30px 20px 100px 20px;
	padding: 20px;
	text-align:center;
}


.button {
	border-radius:10px;
    width:30%;
    margin:20px auto;
}

.contener-menu a{
	display: contents;
}

.point1, .point2, .point3{
	animation: opacitypoint 1300ms ease infinite;
}

.point1{
    animation-delay: 300ms;
}

.point2{
    animation-delay: 400ms;
}

.point3{
    animation-delay: 500ms;
}

@keyframes opacitypoint {
 	0% {
    	opacity: 0;
	}
  	100% {
    	opacity: 1;
	}
}

@media screen and (max-width:1200px)
{
	.menu{
		width:33%;
	}

	#menu2 h3{
		font-size:20px;
	}
}

@media screen and (max-width:720px)
{
	.menu{
		width:40%;
	}
	.menu-margin-left {
	    margin-left: 20px;
	}
	.contener-menu{
		margin-bottom: 20px;
	}

	.button	{
   		width:50%;
	}

}

@media screen and (max-width:540px)
{
	.menu-margin-left {
	    margin-left: 10px;
	}
	.menu{
		width:100%;
		flex-direction: column;
		margin: auto;
    	margin-bottom: 30px;
	}
	.contener-menu{
		margin-bottom: 10px;
		flex-direction: column;

		
	}
	.button	{
   		width:70%;
	}
}